.about{
  width:100%;
  height:868px;
  background-image: url(img/hero-image.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

div.hi-text {
  position:fixed;
  margin-top:100px;
}