div.menu{
  width:100%;
  height:50px;
  background:rgba(6,0,10,0.9);
  position:fixed;
  z-index:100;
}

div .name {
  position:absolute;
  font-family: 'Varela Round', sans-serif;
  height:50px;
  margin-top:0;
  display:inline-block;
  color:#18ca9d;
  padding:10px;
}

button.but{
  margin-top:12px;
  padding:2px;
  height:25px;
  width:25px;
  float:right;
  margin-right:0%;
  border-radius: 20% 20% 20% 20%;
  background:rgba(0,105,92,0.3);
  border:1px solid rgba(0,77,64,0.8);
  color:#18ca9d;
  transform:translateY(-50px);
  transition:1s;
}

button.but:hover{
  background:rgba(225,242,241,0.5);
  color:#06000a;
  transition:all 1s;
}

div .list1 {
  display:inline-flex;
  list-style:none;
  float:right;
  margin-right:18px;
}

div.menu li{
  transition:all 5s;
}

.menu a {
  height: 48px;
  display:block;
  padding:15px;
  text-decoration:none;
  color:#18ca9d;
  font-family: 'Ubuntu', sans-serif;
}

.menu a:hover{
  background:rgba(225,242,241,0.5);
  color:#06000a;
  transition:all 0.5s;
}


