div.movile {
  margin-top:-50px;
  width:100%;
  height:50px;
  background:rgba(6,0,10,0.5);
  border-bottom: 2px solid rgba(0,77,64,0.8);
  position:fixed;
}

.movile a {
  width:100px;
  height:48px;
  display:block;
  padding-top:15px;
  text-decoration:none;
  color:#18ca9d;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.movile a:hover{
  background:rgba(225,242,241,0.5);
  color:#06000a;
  transition:all 0.5s;
}

.list2{
  display:inline-flex;
  list-style:none;
  float:right;
}
