@media (max-width:600px) {
  .menu a{
    visibility:hidden;
  }
  
  button.but {
    transform:translateX(0px);
    transition:1s;
  }
  
  
}

@media (min-width:600px) {
 .movile {
  visibility:hidden;
  }
}
