@import url("menu-bar.css");
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url("about.css");
@import url(https://fonts.googleapis.com/css?family=Varela+Round); 
@import url("responsive.css");
@import url("movile.css");
 

body{
  box-sizing: border-box;
  overflow-x:hidden;
}

.open-bar{
  transform:translateY(200%);
  transition: all 0.5s;
}